html
  head
    title=title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    div(id='root')
    //- script.
    //-   config=!{JSON.stringify(config)}
    script(type='text/javascript' src='/bundle.js')